<h1>Listing second level codes</h1>

<ul>
  <% @icd_second_level_codes.each do |icd_second_level_code| %>
    <li><%= icd_second_level_code %></li>
  <% end %>
</ul>

<%= link_to '&larr; Back to first level codes'.html_safe, icd_chapter_icd_block_icd_first_level_codes_path(@icd_chapter, @icd_block) %>
